* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    text-shadow: 1px 0px 0px black;
}

section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(187, 190, 201);
    position: relative;
}

.registration, .logining, .user-info {
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.error {
    width: 280px;
    height: 25px;
    background-color: rgb(199, 31, 31);
    margin-top: -18px;
    border-radius: 5px;
    color: white;
    line-height: 25px;
    text-align: center;
}

.error-signal {
    border: 3px solid rgb(199, 31, 31);
}

.registration {
    height: 500px;
}

.user-info {
    height: 450px;
    background-color: rgb(187, 190, 201);
    box-shadow: 0px 0px 5px black inset;
}

.logining {
    height: 300px;
}

h2 {
    font-size: 24px;
}

.sign-up, .sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sign-up {
    height: 350px;
}

.sign-in {
    height: 230px;
    
}

input {
    width: 380px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    outline: none;
}

[type="button"] {
    background-color: blue;
    color: white;
}
[type="button1"] {
    background-color: rgb(27, 151, 27);
    color: white;
}

[type="text"]:focus, [type="email"]:focus, [type="password"]:focus {
    border: 3px solid rgb(22, 192, 22);
}

[type="button"]:hover {
    background-color: rgb(54, 50, 241);
    cursor: pointer;
    transition: 0.5s;
}
[type="button1"]:hover {
    background-color: rgb(54, 50, 241);
    cursor: pointer;
    transition: 0.5s;
}

h4 {
    font-size: 14px;
    align-items: flex-start;
}

h4:hover {
    cursor: pointer;
    transition: 0.5s;
}

.user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid black;
    background-image: url(Man.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    width: 200px;
    height: 3px;
    background-color: black;
}

.hidden {
    display: none;
}